<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Rates">
          <input type="text" placeholder="Search" class="form-control input-sm" />
	  </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
			  <tr><th>Name</th><th>Bit Rate</th><th>Width</th><th>Height</th></tr>
			</thead>
            <tbody>
              <tr><td>6_Mbs</td><td>6</td><td>1920</td><td>1080</td><td><span class="text-success"></span></td></tr>
              <tr><td>5_Mbs</td><td>5</td><td>1920</td><td>1080</td><td><span class="text-success"></span></td></tr>
              <tr><td>4_Mbs</td><td>4</td><td>1920</td><td>1080</td><td><span class="text-success"></span></td></tr>
              <tr><td>3_Mbs</td><td>3</td><td>1920</td><td>1080</td><td><span class="text-success"></span></td></tr>
              <tr><td>2_Mbs</td><td>2</td><td>1920</td><td>1080</td><td><span class="text-success"></span></td></tr>
              <tr><td>1_Mbs</td><td>1</td><td>1920</td><td>1080</td><td><span class="text-success"></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <button class="btn btn-sm btn-info">Add</button>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
