 <div ng-controller="FileCtrl">
 <div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Files">
          <input type="text" placeholder="File to Ingest" class="form-control input-sm" />
	  </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
      </rd-widget-body>
      <rd-widget-footer>
        <button class="btn btn-sm btn-info">
            <!--<div ng-click='goNext("/filesadd")'>Ingest Excel Files</div> -->
            Add
        </button>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
</div>
