<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Sources">
          <input type="text" placeholder="Search" class="form-control input-sm" />
	  </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
			  <tr><th>Name</th><th>Description</th><th>Type</th><th>Multicast</th></tr>
			</thead>
            <tbody>
              <tr><td>hgtv</td><td>hgtv</td><td>HD</td><td>224.1.1.1</td><td><span class="text-success"></span></td></tr>
              <tr><td>cnbc</td><td>cnbc</td><td>HD</td><td>224.1.1.2</td><td><span class="text-success"></span></td></tr>
              <tr><td>military history</td><td>military history</td><td>HD</td><td>224.1.1.3</td><td><span class="text-success"></span></td></tr>
              <tr><td>nfl</td><td>nfl</td><td>HD</td><td>224.1.1.4</td><td><span class="text-success"></span></td></tr>
              <tr><td>discovery</td><td>discovery</td><td>HD</td><td>224.1.1.5</td><td><span class="text-success"></span></td></tr>
              <tr><td>bloomberg</td><td>bloomberg</td><td>HD</td><td>224.1.1.6</td><td><span class="text-success"></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <button class="btn btn-sm btn-info">Add</button>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
