<div ng-controller="ProfileCtrl">

<!-- Profile Table -->
<!-- Profile Table -->
<!-- Profile Table -->

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Profiles">
	  </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class ="table">
          <thead>
              <tr><th>Name</th><th>Bit Rate</th><th>Width</th><th>Height</th></tr>
          </thead>
          <tr ng-repeat="profile in profiles | orderBy : 'profile.profileName'"
              ng-click="selectProfile(profile)">
              <td> {{ profile.profileName }} </td>
              <td> {{ profile.profileDescription }} </td>
              <td> {{ profile.segmentsToKeep }}</td>
              <td> {{ profile.segmentLength }}</td>
              <td> <input type="button" value="Edit" class="btn btn-primary" ng-click='goNext("/profilesmod")'/></td>
              <td> <input type="button" value="Remove" class="btn btn-danger" ng-click="removeRow(profile.profileName)"/></td>
           </tr>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <button class="btn btn-success">
            <div ng-click='goNext("/profilesadd")'>Add</div>
        </button>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
<!--</div>-->

    <!-- Rate Table -->
    <!-- Rate Table -->
    <!-- Rate Table -->

  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Rates">
	  </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class ="table">
          <thead>
              <tr><th>Name</th><!-- <th>Bitrate</th><th>Width</th><th>Height</th> --></tr>
          </thead>
          <tr ng-repeat="rate in selectedProfile.lmsOutputStreams track by $index">
              <td>{{ rate }}</td>
          </tr>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
          <br>
            <div class="clearfix"></div>
        <p></p>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
</div>
