<div ng-controller="RateCtrlAdd">
  <rd-widget>
    <rd-widget-header icon="fa-users" title="Rates">
	</rd-widget-header>
  </rd-widget>
  <p></p>

<div class="row">
  <div class="col-sm-6">
    <input class="form-control input-lg" type="text"
      placeholder="rate name"/>
    <br>
    <input class="form-control input-lg" type="text"
      placeholder="rate bit rate"
      name="rateBitrate"/>
    <br>
    <input class="form-control input-lg" type="text"
      placeholder="rate width"/>
    <br>
    <input class="form-control input-lg" type="text"
      placeholder="rate height"/>
  </div>
</div>

<div class="row" style="margin-top: 12px;">
  <div class="col-sm-6">
    <a href="/rates" class="btn btn-success btn" ng-click="SendData()">
        Add
    <a href="/rates" class="btn btn-danger btn">
      Cancel
    </a>
  </div>
</div>
