<div ng-controller="RateCtrlAdd">
  <rd-widget>
    <rd-widget-header icon="fa-users" title="Rates">
	</rd-widget-header>
  </rd-widget>
  <p></p>

<form name="myForm" ng-submit="processForm()">
<div class="row">
  <div class="col-sm-6">

    <input class="form-control input-lg" type="text"
      placeholder="rate name"
      name="rates.name"
      ng-model="rates.name" required/>
    <br>
    <input class="form-control input-lg" type="number"
      placeholder="rate width"
      name="rates.width"
      ng-model="rates.width" required/>
    <br>
    <input class="form-control input-lg" type="number"
      placeholder="rate height"
      name="rates.height"
      ng-model="rates.height" required/>
    <br>
      <input class="form-control input-lg" type="number"
      placeholder="rate bit rate"
      name="rates.bitRate"
      ng-model="rates.bitRate" required/>

  </div>
</div>

<div class="row" style="margin-top: 12px;">
  <div class="col-sm-6">
    <button class="btn btn-success btn" type="submit" ng-model="addButtonVal" ng-click="addButtonVal=true">
        Add
    </button>
  </div>
</div>

</form>

</div>
