 <div ng-controller="RateCtrl">
     <p></p><h2>{{text.message}}</h2>
 <div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Rates">
          <input type="text" placeholder="Search" class="form-control input-sm" />
	  </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class ="table">
          <thead>
              <tr><th>Name</th><th>Bit Rate</th><th>Width</th><th>Height</th></tr>
          </thead>
          <tr ng-repeat="rate in rates | orderBy : 'rate.name'">
              <td ng-if="$odd" style="background-color:#f1f1f1">{{ rate.name }}</td>
              <td ng-if="$even">{{ rate.name }}</td>
              <td ng-if="$odd" style="background-color:#f1f1f1">{{ rate.bitRate }}</td>
              <td ng-if="$even">{{ rate.bitRate }}</td>
              <td ng-if="$odd" style="background-color:#f1f1f1">{{ rate.width }}</td>
              <td ng-if="$even">{{ rate.width }}</td>
              <td ng-if="$odd" style="background-color:#f1f1f1">{{ rate.height }}</td>
              <td ng-if="$even">{{ rate.height }}</td>
          </tr>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <button class="btn btn-sm btn-info">
            <div ng-click='goNext("/ratesadd")'>Add</div>
        </button>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
</div>
