 <div ng-controller="ServiceCtrl">
 <div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Services">
	  </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class ="table">
          <thead>
              <tr><th>Name</th><th>Id</th><th>Source</th><th>Profile</th><th>Appliance</th><th>Vue</th></tr>
          </thead>
          <tr ng-repeat="service in services | orderBy : 'service.serviceName'">
              <td> {{ service.serviceName }} </td>
              <td> {{ service.id }}</td>
              <td> {{ service.sourceName }}</td>
              <td> {{ service.profileName }}</td>
              <td> {{ service.applianceId }}</td>
              <!--<td> {{ service.startServiceImediately }}</td>-->
              <td> <input type="button" value="Edit" class="btn btn-primary" ng-click='goNext("/servicesmod")'/></td>
              <td> <input type="button" value="Start" class="btn btn-success" ng-click="startService(service.serviceName)"/></td>
              <td> <input type="button" value="Stop" class="btn btn-danger" ng-click="stopService(service.serviceName)"/></td>
              <td> <input type="button" value="Remove" class="btn btn-danger" ng-click="removeRow(service.serviceName)"/></td>
          </tr>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <button class="btn btn-success">
            <div ng-click='goNext("/servicesadd")'>Add</div>
        </button>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
</div>
