<div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Profiles">
        <a href="#">Manage</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
			  <tr><th>Name</th><th>Description</th><th>Keep</th><th>Length</th></tr>
			</thead>
            <tbody>
              <tr><td>hgtv</td><td>hgtv</td><td>6</td><td>2</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>cnbc</td><td>cnbc</td><td>6</td><td>2</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>military history</td><td>military history</td><td>6</td><td>2</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>nfl</td><td>nfl</td><td>6</td><td>2</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Rates">
        <a href="#">Manage</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
			  <tr><th>Name</th><th>Bit Rate</th><th>Width</th><th>Height</th></tr>
			</thead>
            <tbody>
              <tr><td>4_Mbps</td><td>4</td><td>1920</td><td>1080</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td>5_Mbps</td><td>5</td><td>1920</td><td>1080</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
