<ul ng-controller="TestRateCtrl">

<p><input type="text" ng-model="fancyfilter" /></p>

<table>
    <p></p>
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Name</th>
        <th>Bit Rate</th>
        <th>Width</th>
        <th>Height</th>
      </tr>
    </thead>
    <tr ng-repeat="item in bag | filter:fancyfilter"
        selection-model
        selection-model-type="'checkbox'"
        selection-model-mode="'multiple-additive'"
        selection-model-selected-items="selectedItems">
      <td><input type="checkbox"></td>
      <td>{{$index + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.bitRate}}</td>
      <td>{{item.width}}</td>
      <td>{{item.height}}</td>
    </tr>
</table>
    <button ng-click="getAllSelectedRows()">getAllSelectedRows</button>
</ul>
