<div ng-controller="VueCtrlAdd">
  <rd-widget>
    <rd-widget-header icon="fa-users" title="Vues">
	</rd-widget-header>
  </rd-widget>
  <p></p>

<div class="row">
  <div class="col-sm-6">
    <input class="form-control input-lg" type="text"
      placeholder="vue name"/>
    <br>
    <input class="form-control input-lg" type="text"
      placeholder="vue ip address"/>
    <br>
    <input class="form-control input-lg" type="text"
      placeholder="vue mdc ip address"/>
    <br>
    <input class="form-control input-lg" type="text"
      placeholder="vue ad zone"/>
    <br>
    <input class="form-control input-lg" type="text"
      placeholder="vue multicast ip start"/>
    <br>
    <input class="form-control input-lg" type="text"
      placeholder="vue multicast ip end"/>
  </div>
</div>

<div class="row" style="margin-top: 12px;">
  <div class="col-sm-6">
        <button class="btn btn-sm btn-info">
            <div ng-click='goNext("/vues501")'>Add</div>
        </button>
  </div>
</div>
</div>
