 <div ng-controller="VueCtrl">
 <div class="row">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Vues - The LMS server side rest API for this feature has not been implemented. Consequently, no data is available to the UI.">
	  </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class ="table">
          <thead>
              <tr><th>Name</th><th>IP Address</th><th>MDC IP Address</th><th>Ad Zone</th><th>Multicast IP Start</th><th>Multicast IP End</th></tr>
          </thead>
          <tr ng-repeat="rate in rates | orderBy : 'rate.name'">
              <td> {{ rate.name }} </td>
              <td> {{ rate.bitRate }} </td>
              <td> {{ rate.width }}</td>
              <td> {{ rate.height }}</td>
           </tr>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
        <button class="btn btn-sm btn-info">
            <div ng-click='goNext("/vuesadd")'>Add</div>
        </button>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
</div>
